@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes ring {
    0%, 100% { transform: rotate(0); }
    20%, 60% { transform: rotate(15deg); }
    40%, 80% { transform: rotate(-15deg); }
}

.animate-ring {
    animation: ring 1.5s ease-in-out infinite;
    transform-origin: top center;
}